<html>
<h1> University Appointment Manager </h1>
<body>

<h2> Departments <h2>

 <ul>
  <li><%= link_to 'Computer science', professors_path  %></li>
  <li>Electionic Engineering</li>
  <li>Management information Science</li>
  <li>Graduate Admission Department</li>

  

</ul> 

</body>

</html> 