<!-- <h1>ReqappMailer#app_conformation</h1>

<p>
  <%= @greeting %>, find me in app/views/reqapp_mailer/app_conformation.html.erb
</p>
 -->
 Student Requesting an Appointment
 Please check University Appointment Manager



